<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <!-- 数据库连接字符串-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="vipProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=.;uid=sa;pwd=123456;database=vip_object;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <applicationSettings>
        <vipProject.Properties.Settings>
            <setting name="vipProject_WeatherService_WeatherWebService" serializeAs="String">
                <value>http://www.webxml.com.cn/WebServices/WeatherWebService.asmx</value>
            </setting>
        </vipProject.Properties.Settings>
    </applicationSettings>
</configuration>
