################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Common/obj/Debug
/Model/obj/Debug
/Common/bin/Debug
/DB
/Model/bin/Debug
/.vs/vipProject/v15
